
<div class="container mt-5">
  <div class="row justify-content-md-center">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title text-center">Iniciar Sesión</h1>
        </div>
        <div class="panel-body"> 
          <form>
            <li *ngIf="erroruser != ''" class="alert alert-danger">
                  {{erroruser}} 
            </li>       
           <div class="form-group"  >
            <label for="nombre">Usuario</label>
            <input type="text" class="form-control" name="user_name"   [(ngModel)]="user.username" id="user_name"  required placeholder="Usuario">
          </div>
           <li *ngIf="errorpass != ''" class="alert alert-danger">
              {{errorpass}} 
            </li>  
          <div class="form-group">
            <label for="pass">Contraseña</label>
            <input type="password" class="form-control" name="pass" [(ngModel)]="user.pass" id="pass"  required placeholder="Contraseña">
          </div>
          <div class="form-group text-center">
          <button  type="button"  id="btn_save" class="btn btn-primary" (click) = "CheckUser()">Sign in</button>
          </div> 
          <li *ngIf="errorlogin != ''" class="alert alert-danger">
              {{errorlogin}} 
            </li>  
          </form>
        </div>
      </div>
    </div>
  </div>
</div> 
