
<div class="container register-form p-5 m-3">
  <div class="form">
      <div class="note">
          <p>Registro Pinterest 2.0</p>
      </div>
      <div class="form-content">
        <div class="panel-body">
            <form>
        <div class="row">
            <div class="col-md-6">
                <li *ngIf="errornombre != ''" class="alert alert-danger">
                    {{errornombre}} 
                  </li>
                 <div class="form-group"  >
                  <label for="nombre">Nombre</label>
                  <input type="text" class="form-control" name="name"   [(ngModel)]="client.client_name"  required placeholder="Nombre">
                </div>
                <li *ngIf="errorapellido != ''" class="alert alert-danger">
                    {{errorapellido}} 
                  </li>
                 <div class="form-group"  >
                  <label for="nombre">Apellido</label>
                  <input type="text" class="form-control" name="last_name"   [(ngModel)]="client.client_lastname"   required placeholder="Apellidos">
                </div>
                <li *ngIf="erroruser != ''" class="alert alert-danger">
                    {{erroruser}} 
                  </li>
                 <div class="form-group"  >
                  <label for="nombre">Usuario</label>
                  <input type="text" class="form-control" name="user_name"   [(ngModel)]="client.username"  required placeholder="Nombre de usuario">
                </div>
            </div>
            <div class="col-md-6">
                <li *ngIf="errorpass != ''" class="alert alert-danger">
                    {{errorpass}} 
                  </li>  
                  <div class="form-group">
                    <label for="pass">Contraseña</label>
                    <input type="password" class="form-control" name="pass"  [(ngModel)]="client.pass"  required placeholder="Contraseña">
                  </div>
                  <li *ngIf="errorconfpass != ''" class="alert alert-danger">
                    {{errorconfpass}} 
                  </li>  
                  <div class="form-group">
                    <label for="pass">Confirmar contraseña</label>
                    <input type="password" class="form-control" name="repass"  [(ngModel)]="client.repass"  required placeholder="Confirmar contraseña">
                  </div>
                  <div class="form-group text-center">
                  <button  type="button"  id="btn_save" class="btn btn-primary" (click) = "CheckData()">Registrar</button>
                  </div> 

            </div>
          </div>
           
              </form>
            </div>
              
              
      </div>
  </div>
</div>
