<app-navigation></app-navigation>
<div class="container p-5">
  <div class="row">
    <div class="col s8 offset-2">
      <div class="note">
        <p>Agregar Imagen</p>
    </div>
    <div class="form-content">
      <div class="panel-body">
        <form>
          <div class="row">

              <div class="col-md-6 container">
        
                    <div class="form-group"  >
                      <label for="Descripcion">Descripcion:</label>
                      <input type="textarea" class="form-control" name="Des" [(ngModel)]="imagen.description_image" required placeholder="Descripcion">
                    </div>
                    <li *ngIf="CheckDescripcion != ''" class="alert alert-danger">
                        {{CheckDescripcion}} 
                      </li>

                    <select class="browser-default custom-select" (change)="onChange($event.target.value)">
                      <option selected>Estado</option>
                      <option value="1">Publica</option>
                      <option value="2">Privado</option>
                    </select>

            
                    <div>
                        <div class="form-group"  >
                            <br>
                          <input type="textarea" class="form-control" name="Des" [(ngModel)]="newtask.name" required placeholder="Agregar tag">
                          <br>
                          <button class="btn btn-success" (click) = "add()" >Agregar</button>
                        </div>
                        <br>
                        <div id="div1">
                            <ul>
                                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let task of tags">
                                  <p>{{task}} </p>
                                  <button class="btn btn-danger" (click)="delete(task)">
                                      <i class="fas fa-trash-alt"></i>
                                    </button>
                              
                                </li>
                            </ul>
                            <li *ngIf="listerror != ''" class="alert alert-danger">
                                {{listerror}} 
                              </li>
    
                        </div>
                    </div>
                    
                    
                    <div class="col-md-6 container">
                        <br>
                        <li *ngIf="fileerror != ''" class="alert alert-danger">
                            {{fileerror}} 
                          </li>
                          <div class="col-md-3">
                              
                              <input type="file"  #Image accept="image/*" #file placeholder="Choose file" (change)="uploadFile(file.files)" (change) ="handleFileInput($event.target.files)" style="display:none;">
                              
                              <br>
                              <button type="button"  class="btn btn-success"  (click)="file.click()">Upload File</button>
                              
                              <img [src]="imageUrl"  style="width:250px;height:200px">
                          
                            </div>
        
                      </div>

                    
                   

              </div>
          </div>

        </form>
      </div>
    </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="offset-md-5 col-md-2">
    <button type="button" class="btn btn-primary" (click) = "CheckData()">Create </button>
  </div>
</div>
