#note{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}

#navbarDropdown, .nav-link, .navbar-brand{
    color: #fff;
}

