<app-navigation></app-navigation>
<br>
<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="text"name="name"  placeholder="Buscar" aria-label="Search" [(ngModel)]="filtro1.tag">
  <button class="btn btn-outline-primary" type="button" (click) = "filtro()">Buscar</button>
</form>

<div class="container p-5" style="height: 650px;  overflow-y: scroll;">
  <div class="card vista" style="width: 18rem;" *ngFor="let policy of imagenes" >
    <img class="card-img-top" src="https://localhost:5001/Resources/Images/{{policy.url_image}}" alt="Card image cap" data-toggle="modal" attr.data-target="#demo{{policy.id}}" (click) = "guardartagxclient(policy.id);">
    <div class="card-body">
      <p class="card-text">{{policy.description_image}}</p>
      
             <!-- Modal -->
<div class="modal fade" id="demo{{policy.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pinterest2.0</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="https://localhost:5001/Resources/Images/{{policy.url_image}}" style="width: 300px; height: 300px;">

        <h3>Descripción</h3>
        <p>{{policy.description_image}}</p>
        
      </div>
      <div class="modal-footer">
        <share-buttons [theme]="'classic-dark'"
        [include]="['facebook','twitter','whatsapp']"
        [show]="5"
        [showText]="true"
        [url]="'https://localhost:5001/Resources/Images/'+ policy.url_image"
        [autoSetMeta]="false"
        ></share-buttons>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    </div>

  </div>

</div>
